<div class="pb-inside">
    <h3 class="plotly-interval-header-title">{{ chart["header"] }}</h3>
    <div class="card d-flex align-items-center justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div id="interval-chart-{{ chart["id"] }}"></div>
                </div>
            </div>
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <div>-->
<!--                    <img id="jpg-export-{{ chart["id"] }}"></img>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        </div>
    </div>
</div>

<script>
    const plotlyConfig{{ chart["variablePostfix"] }} = {
      scrollZoom: true,
      displayModeBar: false,
      responsive: true
    }

    const data{{ chart["variablePostfix"] }} = {{ chart["data"] }}

    const layout{{ chart["variablePostfix"] }} = {{ chart["layout"] }}

    // let img_jpg{{ chart["variablePostfix"] }} = d3.select('#jpg-export-{{ chart["id"] }}')

    Plotly.newPlot("interval-chart-{{ chart["id"] }}",
        data{{ chart["variablePostfix"] }}, layout{{ chart["variablePostfix"] }},
    plotlyConfig{{ chart["variablePostfix"] }})
    // .then(
    //     function (gd) {
    //         Plotly.toImage(gd,{height:300,width:300}).then(
    //             function (url) {
    //                 img_jpg{{ chart["variablePostfix"] }}.attr("src", url)
    //             }
    //         )
    //     }
    // )
</script>

<style>
.plotly-interval-header-title {
  color: #1f77b4;
  text-align: center;
}
</style>